VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:you@example.com

DATABASE_URL=postgres://qring:qring_dev_password@localhost:5432/qring

AWS_REGION=ap-northeast-2
AWS_PROFILE=
WEBPUSH_DISPATCH_QUEUE_ARN=
WEBPUSH_DISPATCH_QUEUE_URL=
